<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="text-center">
      <h4 class="m-5">صفحه مورد نظر یافت نشد!</h4>
      <a class="btn btn-outline-info" href="/"
        ><span class="fa fa-heart" style="color: red"></span
      > برگشت به صفحه اصلی</a>
    </div>
  </body>
</html>
